<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>combine</title>
  </head>
  <body>
    <script src="/static/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: '/application/jie8Ye/interface/aesi9X/handle',
            data: {
                'Po3oom': "1",
            },
        });
    </script>

    <button onclick="request2()">request 2</button>
    <script>
        function request2() {
            $.ajax({
                url: '/application/Yai0au/interface/Eikei0/handle',
                data: {
                    'Me1ii7': "1",
                },
            });
        }
    </script>

    <button id="req3">request 3</button>
    <script>
        function request3() {
            $.ajax({
                url: '/application/aeP2je/interface/aiH7io/handle',
                data: {
                    'ieW5ie': "1",
                },
            });
        }
        document.getElementById('req3').addEventListener('click', request3);
    </script>

    <script src="/static/4.js"></script>
    <script src="/static/5.js"></script>
    <script src="/static/6.js"></script>
    <script src="/static/7.js"></script>
    <script>
        param7 = "control=" + "asde11";
    </script>

    <script src="/static/8.js"></script>
    <script src="/static/9.js"></script>
    <script>
        var configUn1 = {
            id: "1",
            url: "/application/thq019/interface/nhqmz8/handle",
            isActive: "0",
            ssx46: 2
        }
    </script>

    <script>
        var configUn2 = new Object;
        configUn2.id = "1",
        configUn2.url = "/application/lm3b22/interface/b1nqjc/handle",
        configUn2.isActive = "0";
        configUn2.a09bku = 5;
    </script>

    <script src="/static/12.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                type : "POST",
                url  : '/application/givemescript',
                async: true,
                success : function(resp)
                {
                    $("#elemforcode").html("");
                    $("#elemforcode").html(resp);
                }
            });
        });
    </script>
    <div id="elemforcode"></div>
    <script>
        var configUn3 = {
            id: "1",
            url: "/application/lfi32b/interface/bjfu93/handle",
            isActive: "0",
            x956: 35129
        } 
    </script>
    <script src="/static/14.js"></script>
    <script src="/static/15.js"></script>
    <a href="/Che7ei/request">request 18</a>
    <a href="/new_feature">request 19</a>

    <script src="/static/10.js"></script>
    <script src="/static/11.js"></script>
  </body>
</html>